# fly.toml app configuration file generated for frontend-kids-library-g9cv8g on 2026-01-05T03:06:41Z
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'frontend-kids-library-g9cv8g'
primary_region = 'gru'

[build]

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '1gb'
  cpu_kind = 'shared'
  cpus = 1
  memory_mb = 1024
